# App environment
ENV=development

# NVD API settings
NVD_API_URL=https://services.nvd.nist.gov
NVD_API_KEY=7ff674e7-2591-4009-991a-fe95182bf042
KEV_API_URL=https://www.cisa.gov/known-exploited-vulnerabilities
EPSS_API_URL=https://epss.cyentia.com


# --- AI service (V1: OpenAI-compatible provider) ---

AI_ENABLED=true
AI_API_KEY=sk-4c672c434afcb395-rc83y8-d58ef1f1
AI_BASE_URL=http://localhost:20128/v1
AI_MODEL=kc/nvidia/nemotron-3-super-120b-a12b:free

# Anthropic (free models vary)
# AI_ENABLED=true
# AI_API_KEY=sk-or-your_anthropic_key_here
# AI_BASE_URL=https://anthropic.ai/api/v1

# Ollama (local, fully free)
# AI_ENABLED=true
# AI_API_KEY=ollama
# AI_BASE_URL=http://localhost:11434/v1

# Default (off)
AI_ENABLED=true


# OpenCTI Connection Settings
OPENCTI_URL=https://ti.cmccybersecurity.com/taxii2/root
OPENCTI_TOKEN=a2ccb376-800e-448e-8a32-4117c299dfb2
OPENCTI_COOKIE="_ga=GA1.1.553181917.1773069665; _ga_42PV2YG813=GS2.1.s1773069665$o1$g1$t1773069758$j33$l0$h0; sl-waiting-state=done; sl-challenge-server=cloud; sl-session=4YDlQV5hNmr06mJBT1s/5w==; sl-waiting-session=925766c9f468459dda6a612923b9c0d9; sl_jwt_session=bchFD+HgdxRqWPQIMQ9go3xm7f9j2hnc6PlB1bLWFcwn90KlM4yCCUJDqjj4O8Gc; sl_jwt_sign=; safeline-01c1c5b811b70c836abcc4e64ccc411098e68a7c035846f8e81e92db980fa31e-key=517fc63c-757b-4f29-9ac5-2e10c65933c1; opencti_session=s%3AgnDDDzlM8vbwSwfN2fEc_9G-iyybAW12.Mz7rDurhdaIefGKDtHf%2BlKNE0Cge0JgrFM%2FHhpm6SHQ"
# OpenCTI TAXII Collection ID (e.g., UUID format: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d)
OPENCTI_TAXII_COLLECTION_ID=631771cf-bb04-40c2-9766-9237b31e9623
# Optional Basic Authentication for TAXII
OPENCTI_USERNAME=
OPENCTI_PASSWORD=

# AlienVault OTX Settings
OTX_API_URL=https://otx.alienvault.com
OTX_API_KEY=ef4e6521ea5156273b76cf1790aa3ef4028bdae508640e16d88e055967f73f1e